doctype html
html
    head
        title SQL Designer
        meta(name='viewport', content='initial-scale=1,maximum-scale=1')
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/ie6.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/ie7.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/print.css', type='text/css', media='print')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css', type='text/css')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='/javascripts/oz.js')
        script(src='/javascripts/config.js')
        script(src='/javascripts/globals.js')
        script(src='/javascripts/visual.js')
        script(src='/javascripts/row.js')
        script(src='/javascripts/table.js')
        script(src='/javascripts/relation.js')
        script(src='/javascripts/key.js')
        script(src='/javascripts/rubberband.js')
        script(src='/javascripts/map.js')
        script(src='/javascripts/toggle.js')
        script(src='/javascripts/io.js')
        script(src='/javascripts/tablemanager.js')
        script(src='/javascripts/rowmanager.js')
        script(src='/javascripts/keymanager.js')
        script(src='/javascripts/options.js')
        script(src='/javascripts/window.js')
        script(src='/javascripts/wwwsqldesigner.js')
        //script(src='/javascripts/toast.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')

    body
        #area
        #controls
            #bar
                #toggle
                input#saveload(type='button')
                hr
                input#addtable(type='button')
                input#edittable(type='button')
                input#tablekeys(type='button')
                input#removetable(type='button')
                input#aligntables(type='button')
                input#cleartables(type='button')
                hr
                input#addrow(type='button')
                input#editrow(type='button')
                input#uprow.small(type='button')
                input#downrow.small(type='button')
                input#foreigncreate(type='button')
                input#foreignconnect(type='button')
                input#foreigndisconnect(type='button')
                input#removerow(type='button')
                hr
                input#options(type='button')
                a(href="/sala/" + proyecto.id, target='_blank')
                    input#docs(type='button', value='')
                input#btn_edit(type='button', value='Click para editar')
            #rubberband
            #minimap
            #background
            #window
                #windowtitle
                    img#throbber(src='images/throbber.gif', alt='', title='')
                #windowcontent
                input#windowok(type='button')
                input#windowcancel(type='button')
        // #controls
        #opts
            table
                tbody
                    tr
                        td
                            | *
                            label#language(for='optionlocale')
                        td
                            select#optionlocale
                                option
                    tr
                        td
                            | *
                            label#db(for='optiondb')
                        td
                            select#optiondb
                                option
                    tr
                        td
                            label#snap(for='optionsnap')
                        td
                            input#optionsnap(type='text', size='4')
                            span#optionsnapnotice.small
                    tr
                        td
                            label#pattern(for='optionpattern')
                        td
                            input#optionpattern(type='text', size='6')
                            span#optionpatternnotice.small
                    tr
                        td
                            label#hide(for='optionhide')
                        td
                            input#optionhide(type='checkbox')
                    tr
                        td
                            | *
                            label#vector(for='optionvector')
                        td
                            input#optionvector(type='checkbox')
                    tr
                        td
                            | *
                            label#showsize(for='optionshowsize')
                        td
                            input#optionshowsize(type='checkbox')
                    tr
                        td
                            | *
                            label#showtype(for='optionshowtype')
                        td
                            input#optionshowtype(type='checkbox')
            hr
            |        *
            span#optionsnotice.small
        #io
            table
                tbody
                    tr
                        td(style='width:60%')
                            fieldset
                                legend#client
                                #singlerow
                                    input#clientsave(type='button')
                                    input#clientload(type='button')
                                #singlerow
                                    input#clientlocalsave(type='button')
                                    input#clientlocalload(type='button')
                                    input#clientlocallist(type='button')
                                #singlerow
                                    input#dropboxsave(type='button')
                                    // may get hidden by dropBoxInit()
                                    input#dropboxload(type='button')
                                    // may get hidden by dropBoxInit()
                                    input#dropboxlist(type='button')
                                    // may get hidden by dropBoxInit()
                                hr
                                input#clientsql(type='button')
                        td(style='width:40%')
                            fieldset
                                legend#server
                                label#backendlabel(for='backend')
                                select#backend
                                    option
                                hr
                                input#serversave(type='button')
                                input#quicksave(type='button')
                                input#serverload(type='button')
                                input#serverlist(type='button')
                                input#serverimport(type='button')
                    tr
                        td(colspan='2')
                            fieldset
                                legend#output
                                textarea#textarea(rows='1', cols='1')
                                // modified by javascript later
        #keys
            fieldset
                legend#keyslistlabel
                select#keyslist
                    option
                input#keyadd(type='button')
                input#keyremove(type='button')
            fieldset
                legend#keyedit
                table
                    tbody
                        tr
                            td
                                label#keytypelabel(for='keytype')
                                select#keytype
                                    option
                            td
                            td
                                label#keynamelabel(for='keyname')
                                input#keyname(type='text', size='10')
                        tr
                            td(colspan='3')
                                hr
                        tr
                            td
                                label#keyfieldslabel(for='keyfields')
                                br
                                select#keyfields(size='5', multiple='multiple')
                                    option
                            td
                                input#keyleft(type='button', value='<<')
                                br
                                input#keyright(type='button', value='>>')
                                br
                            td
                                label#keyavaillabel(for='keyavail')
                                br
                                select#keyavail(size='5', multiple='multiple')
                                    option
        #table
            table
                tbody
                    tr
                        td
                            label#tablenamelabel(for='tablename')
                        td
                            input#tablename(type='text')
                    tr
                        td
                            label#tablecommentlabel(for='tablecomment')
                        td
                            textarea#tablecomment(rows='5', cols='40')

        #myModal.modal
            span.close ×
            .frame
                ul#chat_elements
                div
                    .msj-rta.macro(style='margin:auto')
                        .text.text-r(style='background:whitesmoke !important')
                            input#inputMessage.mytext(placeholder='Type a message')


        script(type='text/javascript').
            var d = new SQL.Designer();
            var proyecto = !{JSON.stringify(proyecto)};
            var user = !{JSON.stringify(user)};
            var messages = !{JSON.stringify(mensajes)};

        script(src='/javascripts/editor.js')
      
      
      
